
/*intro display*/
.intro_display{ width: 100%; height: 210px; background: url(../images/intro/intro_display.jpeg) center no-repeat;}

/*intro main*/
.intro_main{ width: 1200px; margin: 50px auto 0; }


  /*lnb*/
.intro_lnb{ width: 240px; float: left;}
.intro_lnb li {height: 51px; border-bottom: 1px #dddddd  solid; padding: 0 20px; }
.intro_lnb li a{display: block; height: 100%;  text-align: center;color: #173b5f;}
.intro_lnb li a:before{content: ""; height: 100%; display: inline-block; vertical-align: middle;}
li.lnb_arrow_right{background: url(../images/intro/lnb_arrow_right.jpeg) 210px center no-repeat;}
li.intro_bs{ height: 140px; background: url(../images/intro/intro_bs.jpeg) 0 0 no-repeat; text-align: center; vertical-align: middle;}
h3:before{content: ""; height: 100%; display: inline-block; vertical-align: middle;}
.intro_bs h3{ height: 100%; font-size: 24px; color: #ffffff; font-weight: bold;}

  /*intro contents*/
.intro_contents{ width: 900px; min-height: 500px; float: right; padding-bottom: 70px; word-break: keep-all;}
.intro_contents h4{height: 66px;}
.intro_contents h4 span{font-size: 28px; color: #333333; line-height: 1; font-weight: bold;}

.intro_text p{margin-top: 20px; }
.intro_text p:first-child{ font-size: 20px; color: #444444; font-weight: bold; line-height: 34px;}
.intro_text p strong{color: #15a2ee;}
.intro_text ul {margin-top: 20px;}
.intro_text li{ font-size: 14px; color: #666666; line-height: 24px; }
.footnote{ font-size: 13px; color: rgb(102, 102, 102); line-height: 24px;}
.footnote b{font-weight: bold; color:#333;}



footer{clear:both;}
